[user]
	name = Danish Joseph
	email = danishjoseph07@gmail.com

[includeIf "gitdir:~/Developer/Work/**"]
	path = ~/Developer/Work/work.gitconfig

[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
	ad = add
	lg = log --oneline
	diff-last = diff HEAD^
	undo = checkout -
	changes = diff HEAD

[pull]
	rebase = true
